.header{
    background-color:white;
    font-size:15px;
    text-align:right;
    margin:auto;
    display:inline;
    border:5px solid red;
    height:20px;
}

.top{
    width:200px;
    height:100px;
    background-color:white;
    font-size:30px;
    text-align: left;
}




.brand{
    width: 250px;
    text-align:center;
    height:100px;
    font-size:20px;
    font-style: oblique;
    color:goldenrod;
}

.male{
    width:100px;
    height:100px;
    font-size:20px;
    font-style: oblique;
}

.female{
    width:100px;
    height:100px;
    font-size:20px;
    font-style:oblique;
}

.couple{
    width:150px;
    height:100px;
    font-size:20px;
    font-style:oblique;
}

.contact{
    width:150px;
    height:100px;
    font-size:20px;
    font-style:oblique;
}

.service{
    width:200px;
    height:100px;
    font-size:20px;
    font-style:oblique;
}